POSTGRES_DB=off-projekt
POSTGRES_USER=off-projekt
POSTGRES_PASSWORD=off-projekt
POSTGRES_HOST=localhost
POSTGRES_PORT=55432

# Superset rakendus
# SECRET_KEY: genereeri käsuga: python -c "import secrets; print(secrets.token_hex(32))"
SUPERSET_SECRET_KEY=genereeri_pikk_juhuslik_string_siin
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_PORT_HOST=8088